<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto - Tienda de Ropa</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="font-sans bg-gray-100">

    <header class="bg-black text-white text-center py-4 flex justify-between items-center border-b-2 border-white">
        <h1 class="text-2xl font-bold">J3AC | Tienda de Ropa</h1>
        <nav class="text-right">
            <a href="../index.html" class="text-white font-bold">Inicio</a>
            <span class="mx-2">|</span>
            <a href="sobreNosotros.html" class="text-white font-bold">Sobre Nosotros</a>
        </nav>
    </header>

    <h1 class="text-3xl font-bold text-center mt-8">Contacto</h1>
    <section class="max-w-lg mx-auto bg-white shadow-md rounded-md p-6 mt-8">
        <form action="/contacto" method="post">
            <label for="nombre" class="font-bold mt-4">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required
                class="block w-full px-3 py-2 mt-1 border border-gray-300 rounded-md focus:outline-none focus:border-purple-500">

            <label for="apellido" class="font-bold mt-4">Apellido:</label>
            <input type="text" id="apellido" name="apellido" required
                class="block w-full px-3 py-2 mt-1 border border-gray-300 rounded-md focus:outline-none focus:border-purple-500">

            <label for="email" class="font-bold mt-4">Dirección de email:</label>
            <input type="email" id="email" name="email" required
                class="block w-full px-3 py-2 mt-1 border border-gray-300 rounded-md focus:outline-none focus:border-purple-500">

            <label for="telefono" class="font-bold mt-4">Número de teléfono:</label>
            <input type="tel" id="telefono" name="telefono"
                class="block w-full px-3 py-2 mt-1 border border-gray-300 rounded-md focus:outline-none focus:border-purple-500">

            <label for="mensaje" class="font-bold mt-4">Su mensaje:</label>
            <textarea id="mensaje" name="mensaje" rows="4" required
                class="block w-full px-3 py-2 mt-1 border border-gray-300 rounded-md focus:outline-none focus:border-purple-500"></textarea>

            <br>

            <p class="mt-4">Al enviar este formulario, confirmo que he leído y acepto la <a href="privacyTerms.html"
                    class="text-purple-500">Política de Privacidad</a>.</p>

            <br>

            <input type="submit" value="Enviar"
                class="bg-purple-500 text-white font-bold py-2 px-4 rounded-md hover:bg-purple-700 cursor-pointer">
        </form>
    </section>
</body>

</html>
