<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Política de Cookies - Tienda de Ropa</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="font-sans bg-gray-100">

    <header class="bg-black text-white text-center py-4 flex justify-between items-center border-b-2 border-white">
        <h1 class="text-2xl font-bold">Tienda de Ropa</h1>
        <nav class="text-right">
            <a href="../index.html" class="text-white font-bold">Inicio</a>
            <span class="mx-2">|</span>
            <a href="sobreNosotros.html" class="text-white font-bold">Sobre Nosotros</a>
            <span class="mx-2">|</span>
            <a href="contacto.html" class="text-white font-bold">Contacto</a>
        </nav>
    </header>

    <section class="max-w-lg mx-auto bg-white shadow-md rounded-md p-6 mt-8">
        <h1 class="text-3xl font-bold text-center">J3AT | Política de Cookies</h1>
        <br>
        <h2 class="text-xl font-bold">Uso de Cookies</h2>
        <p class="mb-4">Nuestra tienda utiliza cookies para mejorar la experiencia del usuario. Al utilizar nuestro sitio web, aceptas el uso de cookies de acuerdo con nuestra política de privacidad.</p>

        <p class="mb-4">Las cookies son pequeños archivos de texto que se almacenan en tu dispositivo para recordar información importante y mejorar la funcionalidad del sitio.</p>

        <h2 class="text-xl font-bold">Tipos de Cookies</h2>
        <p class="mb-4">Utilizamos cookies esenciales y cookies de rendimiento para garantizar el funcionamiento adecuado del sitio y mejorar la experiencia de navegación.</p>

        <h2 class="text-xl font-bold">Control de Cookies</h2>
        <p class="mb-4">Puedes ajustar la configuración de cookies en tu navegador. Consulta la ayuda de tu navegador para obtener instrucciones sobre cómo hacerlo.</p>

        <p class="mb-4">Al hacer clic en "Aceptar Cookies" a continuación, confirmas que estás de acuerdo con nuestra política de cookies.</p>

        <!-- Botón para aceptar las cookies -->
        <button onclick="aceptarCookies()"
            class="bg-purple-500 text-white font-bold py-2 px-4 rounded-md hover:bg-purple-700 cursor-pointer mx-auto block">Aceptar
            Cookies</button>
    </section>

    <script src="../scripts/cookies.js"></script>
</body>

</html>
