<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Iniciar Sesión</h1>
    <form action="" class="estilosRegistro">
        <label for="tlf">Telefono</label>
        <input type="text" name="tlf" id="tlf" placeholder="Ej: 644 36 72 94">
        <label for="name">Nombre completo:</label>
        <input type="text" name="name" id="name" placeholder="Ej: Tristán Marín">
        <label for="username">Nombre de usuario: </label>
        <input type="text" name="username" id="username" placeholder="Pedrito gonzalez">
        <label for="password">Contraseña: </label>
        <input type="password" name="password" id="password" >
        <label for="passwordConfirm">Confirma contraseña: </label>
        <input type="passwordConfirm" name="passwordConfirm" id="passwordConfirm">
        <button onclick="validarRegistro()">Registro</button> 
        <button><a href=login.html>Ya tengo cuenta</a></button>
    
    </form>
</body>
</html>