<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nosotros - Tienda de Ropa</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="font-sans bg-gray-100">

    <header class="bg-black text-white text-center py-5 flex justify-between items-center border-b-2 border-white">
        <h1 class="text-2xl m-0">J3AT | Tienda de Ropa</h1>
        <nav>
            <a href="../index.html" class="text-white font-bold hover:text-indigo-600">Inicio</a>
            <a href="../templates/contacto.html" class="text-white font-bold ml-3 hover:text-indigo-600">Contacto</a>
        </nav>
    </header>

    <section class="max-w-3xl mx-auto mt-8 px-4 py-6 bg-white shadow-md">
        <h2 class="text-2xl text-gray-700 mb-4">¿Quiénes somos?</h2>
        <p class="text-gray-600 mb-4">Somos una pequeña tienda de ropa ubicada en Gijón, fundada por Tristan, Javier, Jaime, Alvaro y Joaquín. Nuestra historia comenzó con la pasión compartida por la moda y el deseo de ofrecer a nuestra comunidad una experiencia única al comprar ropa.</p>
        
        <iframe class="w-full h-96 mb-8" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2994.670656554991!2d-5.663690984303977!3d43.535691479726595!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd3619bbce0c18df%3A0x6bc9650982a38976!2sPlaza%20de%20Italia%2C%203%2C%2033206%20Gij%C3%B3n%2C%20Asturias%2C%20Spain!5e0!3m2!1sen!2sus!4v1642035317599!5m2!1sen!2sus" frameborder="0" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        
        <p class="text-gray-600">Explora la fascinante trayectoria de nuestras ventas, detallada año tras año desde el 2020 hasta el 2023 en el siguiente gráfico.</p>
        <canvas class="w-full max-w-xl mx-auto mb-8"></canvas>
        
        <p class="text-gray-600">Nos encontramos en [Pl. Italia, 3, 33206 Gijón, Asturias], en el corazón de Gijón, donde esperamos recibirte con los brazos abiertos. ¡Ven y descubre la moda que amamos compartir contigo!</p>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../scripts/SobreNosotros.js"></script>
</body>
</html>
