<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Política de Privacidad - Tienda de Ropa</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>

    <header>
        <nav class="bg-gray-900 py-4 flex items-center justify-between">     
            <img src="../assets/J3AT-removebg-preview.png" alt="Logo" class="h-16 ml-6">

            <h2 class="text-xl font-bold mb-4 text-white">J3AT - Tienda de ropa</h2>
            <ul class="flex m-5 gap-5">
                <li>
                    <a href="../login.php" class="text-white hover:text-gray-300">Login</a>
                </li>
            </ul>
        </nav>
    </header>

    <section class="max-w-screen-lg mx-auto my-4 p-4 bg-white shadow-md">
        <h2 class="text-xl font-bold mb-4">Politica de privacidad</h2>
        <br>
        <h2 class="font-bold">1. Información recopilada</h2>
        <p>Nuestra tienda de ropa recopila la siguiente información personal:</p>
        <ul>
            <li>Nombre</li>
            <li>Apellido</li>
            <li>Dirección de correo electrónico</li>
        </ul>

        <h2 class="font-bold">2. Uso de la información</h2>
        <p>La información recopilada se utiliza para los siguientes propósitos:</p>
        <ul>
            <li>Procesar y completar pedidos</li>
            <li>Enviar actualizaciones sobre pedidos</li>
            <li>Responder consultas y proporcionar soporte al cliente</li>
            <li>Personalizar la experiencia del usuario</li>
            <li>Enviar información promocional y ofertas especiales (con el consentimiento del usuario)</li>
        </ul>

        <h2 class="font-bold">3. Seguridad</h2>
        <p>Nos comprometemos a garantizar la seguridad de la información personal proporcionada por nuestros clientes. Tomamos medidas para proteger la información contra el acceso no autorizado o la divulgación.</p>

        <h2 class="font-bold">4. Divulgación a terceros</h2>
        <p>No compartimos información personal con terceros, excepto en situaciones en las que sea necesario para cumplir con los propósitos del negocio (por ejemplo, procesadores de pago).</p>

        <h2 class="font-bold">5. Cookies</h2>
        <p>Nuestra tienda utiliza cookies para mejorar la experiencia del usuario. Al utilizar nuestro sitio web, aceptas el uso de cookies de acuerdo con nuestra <a href="cookies.html" class="text-blue-500">Política de Cookies</a>.</p>

        <h2 class="font-bold">6. Cambios en la política</h2>
        <p>Nos reservamos el derecho de actualizar nuestra política de privacidad en cualquier momento. Los cambios serán publicados en esta página.</p>
    </section>

</body>

</html>
